node_modules/
.env
.antigravityignore
dist/
build/
.DS_Store
*.log
coverage/
*.pdf
.vscode/
*.exe
*.dll
*.dat
*.zip
ultra-fitness-backend/node_modules/
windows-app/node_modules/
windows-app/dist/
ultra-fitness-backend/.env
